#logo-ticker {
  margin: 0px auto;
  background-color: var(--header-footer);
  width: 100%;
  position: relative;
}
#logo-ticker .footer-logo-slider {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 8px 0;
  height: 120px;
  width: 100%;
  overflow: hidden;
}
.footer-logo-slider > ul {
  position: relative;
  display: inline-block;
}

.footer-logo-slider li {
  display: inline-block;
  height: 90px;
  width: 90px;
  padding: 5px;
  position: absolute;
  top: 0;
}
.logo {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
}
